spring:
  application:
    name: gym-system

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://prod-db:5432/gymdb
    username: gym_prod
    password: prodpwd

  jpa:
    hibernate:
      ddl-auto: validate

eureka:
  client:
    enabled: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
    registerWithEureka: true
    fetchRegistry: true
  instance:
    preferIpAddress: false
