spring:
  application:
    name: workload-service
  data:
    mongodb:
      uri: ${MONGODB_URI:mongodb://localhost:27017/gym}
  security:
    jwt:
      secret: testSecretKeyForJWT-ChangeMe-AtLeast-32-Bytes

server:
  port: 8081

management:
  health:
    jms:
      enabled: ${app.jms.enabled:false}
  endpoints:
    web:
      exposure:
        include: health,info

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    path: /swagger-ui.html

app:
  jms:
    enabled: false

logging:
  level:
    org:springframework: INFO
    com:company.workload: INFO